/*AGREGAMOS LA FUENTE QUE VAMOS A UTILIZAR EN LA PAGINA*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Encode+Sans:wght@200;400&family=Ysabeau+SC:wght@200;700&display=swap');

* {
    font-family: 'Ysabeau SC', sans-serif;
}


#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loading.hidden {
    opacity: 0;
    pointer-events: none;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#loadingText {
    animation: blink 3s infinite;
    font-size: 25px;
    color: white;
}

#content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#content.show {
    display: block;
    opacity: 1;
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

#inicio {
    /*
    , url("./img/wallpaper.jpg");
    
    */
}

#inicio.video-background {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, .3));
    background-size:cover;
    background-position: center center;
    height: 100vh;
    position: relative;
  }
  
  #inicio.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  #inicio .contenido {
    position: relative;
    z-index: 1;
    /* Estilos adicionales para el contenido */
  }


.juantech {
    text-decoration: underline;
    color: #1e72b1;
    cursor: pointer;
}


#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


/*Menu desplegable */

.indice-nav {
    z-index: 50;
}


.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 50px;
}

.marquee {
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    font-size: 27px;
    animation: marquee 20s linear infinite;
    filter: drop-shadow(4px 4px 4px rgb(58, 100, 119));
    transition: color .7s ease-in-out;
    letter-spacing: 4px;
}

@keyframes marquee {
    0% { left: 100%; }
    100% { left: -230%; }
}


#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #bbbfc2;
    font-family: 'Encode Sans', sans-serif;
    font-size: 30px;
    
}

#inicio .contenido header .contenido-header h1 {
    animation: fadeAnimation 4s linear infinite;
}

@keyframes fadeAnimation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;

}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: #3386c4;
}

/*nueva seccion */



#inicio .contenido header .contenido-header .redes-up a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes-up a:hover {
    color: #267ec2;
}

#inicio .contenido header .contenido-header .seleccionado {
    color: #257cbf;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 17px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 45px;
    color: #2f88cb;
    text-decoration:underline;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 12px 26px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background: #2079bc;
}

#icono-nav {
    color: #fff;
    display: none;
}

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
    filter: drop-shadow(5px 5px 5px #3f3f3f);
    border: 2px solid black;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #1e72b1;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    color: #1e72b1;
    background: rgb(224, 224, 224);
}

/*SECCION SERVICIOS*/

#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#servicios .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}
#servicios .fila .servicio .icono i {
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}

/*SECCION HABILIDADES*/
.contenedor-skills {
    background: linear-gradient(#0a0850cc, rgba(23, 23, 45, 0.8)), url("./img/wallpaper.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.contenedor-skills h3 {
    color: #dad7d7;
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
    color: #dad7d7;
}

.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.contenedor-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

/*Este estilo se aplicara luego mediante javascript*/
.contenedor-skills .skill .barra-progreso1 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra-progreso2 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra-progreso3 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra-progreso4 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}

/*Creamos las animaciones de las barras*/
@keyframes progreso1 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}
@keyframes progreso2 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}
@keyframes progreso3 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}
@keyframes progreso4 {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

/*SECCION PORTFOLIOS*/
#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
    background: rgb(239, 239, 239);
}

#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#portfolio .fila .proyecto {
    max-width: 450px;
    height: 300px; /* Altura fija para los contenedores */
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    background-color: #bfcdd3;
    border-radius: 10px;
  }

  #portfolio .fila .proyecto:hover {
    background-color: #2a2a2a;
    transition: background-color .6s ease-in-out;
  }

  
 

  #portfolio .fila .proyecto img {
    width: 100%;
    height: 100%; /* Ajusta la altura al 100% */
    filter: grayscale(1);
    object-fit:scale-down;
    transition: .5s;
    cursor: pointer; 
  }

#portfolio .fila .proyecto:hover img{
    filter: grayscale(0);
}
#portfolio .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0, .8);
    color: #1e72b1;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}
/*SECCION CONTACTO*/
#contacto {
    padding: 100px 15px;
}
#contacto .titulo-seccion{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input {
    width: 48%;
}
#contacto .contenedor-form .input-full{
    width: 100%;
}
#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}
#contacto .btn-enviar:hover {
    color: #1e72b1;
    color: #fff;
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;

}
footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/*Seccion Responsive*/

@media screen and (max-width:800px) {
    .redes-up {
        display: none;
    }
    nav {
        display: none;
    }
    
    nav.responsive {
        display: block;
        background-color: rgba(0,0,0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center; 
    }
    nav.responsive ul li {
        margin: 5px 0;
    }

    .marquee-container {
        width: 70%;
        overflow: hidden;
        position: relative;
        height: 50px;
    }

    .marquee {
        position: absolute;
        top: 0;
        left: 100%;
        white-space: nowrap;
        font-size: 20px;
        animation: marquee 20s linear infinite;
        filter: drop-shadow(4px 4px 4px rgb(23, 23, 23));
    }
    
    @keyframes marquee {
        0% { left: 100%; }
        100% { left: -380%; }
    }






    #icono-nav{
        display: block;
        cursor: pointer;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion {
        padding: 10px;
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
    }
    #servicios .fila .servicio {
        margin: 10px auto;
    }
    .contenedor-skills{
        padding: 50px 20px;
    }
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    #contacto{
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}










































