* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: black;
        color: white;
        font-family: Roboto, sans-serif;
}


.container {
    /*Esto anda igual con grid y place items center*/
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(img/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image .7s ease-in-out;
}

.margin-auto__content {
    font-size: 150px;
    /*Esto es otra manera de centrar un div en otro div 
    align-self: center;
    justify-self: center;
    */
    color: black;
    text-shadow: 3px 3px 3px white;
    font-family: sans-serif;
    letter-spacing: 7px;
    
    
   
}
 
div .slideButton {
    display:flexbox;
    place-items: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 3rem;
    cursor: pointer;
    color: aliceblue;
    filter:drop-shadow(5px 5px 3px rgb(224, 171, 57));
    
    
}

.prevSlide {
    left: 14rem;
}

.nextSlide{
    right: 14rem;
}

@media screen and (max-width: 1280px) {
    .container {
        flex-direction: column;
        text-align: center;
        
    }
    .slideButton {
    
        align-items: center;
    }

}

@keyframes typing {
    from { width: 0;}
    to{width: 100%;}
}
@keyframes blinking {
    from{border-color: transparent;}
    to{border-color: orange;}
}














