:root {
    --max-width: 1200px;
    --min-width: 320px;
    --accent-color: #74bcd2;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


/*Container*/

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image .7s ease-in-out;
}


.header, .content, .footer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;  
}

.header {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    
    text-shadow: 5px 5px 5px black;
    font-family:monospace;
    color:var(--accent-color);
    filter: drop-shadow(4px 4px 4px white);
    
}

.logo img {
    margin-right: .5rem;
    filter:drop-shadow(3px 3px 3px white);
}

.menu-list {
    margin: 0;

}

.menu-list__item {
    display: inline-block;
    margin: 0.5rem;
    font-size: 24px;
    
}
.menu-list__item:last-child {
    margin-right: 0;
}

.book-apointment {
    background-color: var(--accent-color);
    padding: 1rem 2rem;
    
    color: black;
    font-weight:bolder;
}


/*CONTENT*/




.content {
    max-width: var(--max-width);
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
   
    
}

.slideButton {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 3rem;
    cursor: pointer;
    filter:drop-shadow(5px 5px 3px var(--accent-color));
}

.prevSlide {
    left: -2rem;
}

.nextSlide{
    right: -2rem;
}



.content__claim {
    font-size: 64px;
    color: var(--accent-color);
    text-shadow: 4px 4px 3px black;
    margin: 0;
}

.content__subclaim {
    font-size: 36px;
    margin: .5rem 0;
    margin-bottom: 2rem;
}


.footer-wrapper {
    background-color: black;
    opacity: 0.7;
}
.footer {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
}

.footer__widget {
    font-size: 20px;
}

.footer__widget__title {
    color: var(--accent-color);
    margin: 0 0 1rem 0;
}

.footer__widget__text {
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .header, .footer {
        flex-direction: column;
        text-align: center;
    }
    .menu {
        margin-top: 1.5rem;
    }

    .content {
        align-items: center;
    }

    .footer__widget {
        margin-bottom: 1rem;
    }
}































